        <column name="{{ attribute.getData('code') }}" class="Magento\Ui\Component\Listing\Columns\Date" component="Magento_Ui/js/grid/columns/date">
            <settings>
                <filter>dateRange</filter>
                <editor>
{% if (attribute.getData('required')) %}
                    <validation>
                        <rule name="required-entry" xsi:type="boolean">true</rule>
                    </validation>
{% endif %}
                    <editorType>date</editorType>
                </editor>
                <dataType>date</dataType>
                <timezone>false</timezone>
                <dateFormat>MMM d, y</dateFormat>
                <label translate="true">{{ attribute.getData('label') }}</label>
{% if attribute.getData('admin_grid') is same as("2") %}
                    <visible>false</visible>
{% endif %}
            </settings>
        </column>
