        <column name="{{ attribute.getCode() }}" component="Magento_Ui/js/grid/columns/select">
            <settings>
                <filter>{{ type.getGridFilterType() }}</filter>
{% if not type.getMultiple() %}
                <editor>
{% if (attribute.getRequired()) %}
                    <validation>
                        <rule name="required-entry" xsi:type="boolean">true</rule>
                    </validation>
{% endif %}
                    <editorType>select</editorType>
                </editor>
{% endif %}
                <dataType>select</dataType>
                <options class="{{ type.getSourceModel() }}"/>
                <label translate="true">{{ attribute.getLabel() }}</label>
{% if attribute.getAdminGrid() is same as("2") %}
                <visible>false</visible>
{% endif %}
            </settings>
        </column>
