{% extends "base.html.twig" %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>UMC Docs</h3>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <ul class="nav nav-pills">
                    <li>
                        <a class="nav-link" href="#description">Description</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#compatibility">Compatibility</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#requirements">Requirements</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#installation">Installation</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#how-to-use">How To Use</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#defaults">Setting defaults</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#faq">FAQs</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#coding-standards">Coding Standards</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#release-notes">Release Notes</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#known-issues">Known issues</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#contribute">Contributing to the UMC</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="panel-body">
            <div class="panel panel-default" id="description">
                <div class="panel-heading">
                    <h3>Description</h3>
                </div>
                <div class="panel-body">
                    <div>This is a standalone application for creating Magento 2 CRUD modules.</div>
                    <div>You can use the UI to create your entities just like you would use PhpMyAdmin to create tables.</div>
                    <div>When you are done, you can download imediately the module from the popup that appears or you can find your module in var/umc folder.</div>
                    <div>This application is intended for developers. It should not be used in production.</div>
                    <div>Also, the modules you create with it should be tested before moved to production.</div>
                    <div><strong>You like the work the developer has done and it saved you a lot o time and money, consider <a href="https://www.paypal.me/MariusStrajeru/10">donating</a> . Any amount is welcomed. Just change 10 from the previous URL.</strong></div>
                </div>
            </div>
            <div class="panel panel-default" id="compatibility">
                <div class="panel-heading">
                    <h3>Compatibility</h3>
                </div>
                <div class="panel-body">
                    <div>The modules you create with this application should be compatible with Magento 2.1.* and 2.2.* versions.</div>
                    <div>They might work with 2.3.*, but 2.3 is not officially supported yet.</div>
                </div>
            </div>
            <div class="panel panel-default" id="requirements">
                <div class="panel-heading">
                    <h3>Requirements</h3>
                </div>
                <div class="panel-body">
                    <div>PHP version 7.1.3 or higher. Some PHP extension. See composer.json for more details.</div>
                </div>
            </div>
            <div class="panel panel-default" id="installation">
                <div class="panel-heading">
                    <h3>Installation</h3>
                </div>
                <div class="panel-body">
                    <div>If you are reading this, them probably you already installed it. But anyway....</div>
                    <ul>
                        <li>create a folder on your server.</li>
                        <li>navigate to that folder</li>
                        <li>clone this repo: <code>https://github.com/UltimateModuleCreator/umc.git .</code> (notice the dot at the end)</li>
                        <li>run <code>composer install</code></li>
                        <li>go to that folder in your browser.</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default" id="how-to-use">
                <div class="panel-heading">
                    <h3>How to use</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>In the top menu named, surprisingly, "Menu", click on the item "Create Module"</li>
                        <li>Fill in the form as you want. Each field has a tooltip explaining what it is used for.</li>
                        <li>Add as many entities and attributes / fields as you need.</li>
                        <li>See also the <a href="#faq">FAQ</a> section if something is unclear.</li>
                        <li>You can also select one of the modules you previously created and edit it.</li>
                        <li>After you are done, you can find a zip file with your extension in <code>var/umc</code> folder. Unzip that over your magento instance.</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default" id="defaults">
                <div class="panel-heading">
                    <h3>Setting defaults</h3>
                </div>
                <div class="panel-body">
                    <div>In case you don't like to fill over and over again the same values in the same fields, you can go to the "Settings" section in the same menu and fill in default values for module, entity and attribute.</div>
                </div>
            </div>
            <div class="panel panel-default" id="faq">
                <div class="panel-heading">
                    <h3>FAQs</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <strong>If I edit a module, and copy the files in my magento instance over the previous version, does it work?</strong><br />
                            Possibly, but most probably not. If you changed the structure of the entities you will need to uninstall manually the module and install it again.
                        </li>
                        <li>
                            <strong>I'm adding some default values for some fields but they don't reflect in my extension. Why?</strong><br />
                            The select and multiselect attributes are generated using those fancy select boxes, with search and "stuff". For some reason, this is a Magento bug/limitation. They don't accept default values. via ui-component xml.
                        </li>
                        <li>
                            <strong>I want to add my module admin menu inside one of my custom admin menu iteams. How do I do that? </strong><br />
                            You can edit the <code>config/services.yaml</code> file, in the section <code>menu_type_config</code> and add your menu item(s) similar to the others.<br />
                            Or, you can edit the <code>config/form/module.yml</code> file and make the menu dropdown be a text field where you can fill in your desided value. For <code>menu_parent</code> field change the attribute <code>type</code> from <code>menu</code> to <code>text</code>. But there is a catch here. The <code>acl.xml</code> file of your extension may need manual intervention since UMC cannot detect the full structure of the acl resources.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default" id="coding-standards">
                <div class="panel-heading">
                    <h3>Coding Standards</h3>
                </div>
                <div class="panel-body">
                    The generated extensions follow the magento coding standards, but...<br/>
                    Due to the values filled in the form, you can easily break one of the rules. Special the max 120 chars per line.  <br />
                    This is not prevented by the UMC, but you will find in the arvhive that is generated with the module 3 files. All pf them start with <code>PHPCS_</code>. (these files are not useful for the proper fuctioning of the extension you create)<br/>
                    These files contain the report after running php code sniffer on the generated code with the PSR2, PSR12 and the EcgM2 standards. <br />
                    Keep in mind that not everything that is in there is actually an error. False positives will occur. For example, the PSR standrds will report that you are using underscores to prefix method names. This is because you need methods like <code>_beforeSave</code> to make magento work. <br />
                    Also, the EcgM2 standard will report that ther eare methods that start with <code>before</code> or </code>after</code> that are not public. This is because ECGM2 things these are plugins. Ignore them<br />
                    If you have your own coding standards you can add them the <code>config/services.yaml</code> file as part of the <code>standards</code> argument of the <code>App\Util\CodingStandardsFactory</code> class
                </div>
            </div>
            <div class="panel panel-default" id="release-notes">
                <div class="panel-heading">
                    <h3>Release notes</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3"><strong>3.0.0-beta1: Ian 14 2019</strong></td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Improvement</td>
                                <td>Support for Magento 2.3</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Feature</td>
                                <td>Create frontend files for generated entities</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Improvement</td>
                                <td>Various UI improvements</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Bug fix</td>
                                <td>Fixed: wrong ACL generated when adding the entity menu as sumbenu of catalog.</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Refactoring</td>
                                <td>Moved away from magic getters. </td>
                            </tr>
                            <tr>
                                <td colspan="3"><strong>3.0.0-alpha2: Dec 12th 2018</strong></td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Improvement</td>
                                <td>Fancy UI provided by <a href="https://colorlib.com">Colorlib</a> Gentelella - Bootstrap Admin Template</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Feature</td>
                                <td>Entities can be related to stores (many to many)</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Bug Fix</td>
                                <td>ACL resources matches admin menu structure.</td>
                            </tr>
                            <tr>
                                <td colspan="3"><strong>3.0.0-alpha1: Nov 26th 2018</strong></td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Basic</td>
                                <td>MVP. Creating simple modules with only admin support.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default" id="known-issues">
                <div class="panel-heading">
                    <h3>Known Issues</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Static tests will report a duplication for the Image builder class to the catalog image builder class. This is because the image builder is a duplicate of the catalog image builder. Working on a cleaner solution, but it might take a while since this is not top priority.</li>
                        <li>Default values may not work for the select and multiselect attributes. This is a magento issue.</li>
                        <li>The i18n file is not generated. You can do that after installing the module by creating the folder i18n inside your module and running this command: <code>`bin/magento i18n:collect-phrases app/code/[Namespace]/[Module]/ -o app/code/[Namespace]/[Module]/i18n/en_US.csv</code> (replace <code>[Namespace]</code> and <code>[Module]</code> with the real module name)</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default" id="contribute">
                <div class="panel-heading">
                    <h3>Contributing to the UMC</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>If you find a bug, report it <a href="https://github.com/UltimateModuleCreator/umc/issues">here</a></li>
                        <li>you have a cool idea for improving it but you don't want to implement it, post it <a href="https://github.com/UltimateModuleCreator/umc/issues">here</a>. There are no guarantees that it will get implemeted though.</li>
                        <li>you have a cool idea for improving it and you can implement it, feel free to make a PR. But before doing so, make sure that the new code you create it is covered with unit tests and the existing unit tests still pass.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
