{% extends "@UmcCore/base.html.twig" %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Created modules:</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">Module</th>
                    <th scope="col">Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Download</th>
                </tr>
                </thead>
                <tbody>
                {% if modules|length > 0 %}
                    {% for module in modules %}
                        <tr>
                            <td>{{ module.name }}</td>
                            <td>{{ module.date.format('Y-m-d H:i') }}</td>
                            <td><a href="{{ url('edit', {"module":module.module_name}) }}">Edit</a></td>
                            <td><a href="{{ url('download', {"module":module.module_name}) }}">Download</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">There are no modules.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
