<?xml version="1.0"?>{{ formatLicense(module, 'xml')|raw }}
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" layout="admin-1column" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
    <referenceContainer name="content">
        <uiComponent name="{{ module.getModuleName()|camel|lower }}_{{ entity.getNameSingular()|camel|lower }}_form"/>
    </referenceContainer>
    </body>
</page>
